@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Fundo: #0B0B0B;
    --Cards: #1A1A1A;
    --Texto: #EDEDED;
    --Destaque: #0F3D2E; 
    --Hover: #18634a;
}

body {
    background-color: var(--Fundo);
    color: var(--Texto);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--Texto);
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
    padding: 30px;
    font-weight: 400;
}

a {
    color: var(--Texto);
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease; 
}

a:hover {
    border-bottom: 2px solid var(--Texto); 
}


p, li {
    font-family: "Inter";
    color: var(--Texto);
}

li {
    letter-spacing: 0.03em;
}

.hero {
    position: relative;
    background-image: url(imagens/hero_image.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

#container-hero {
    position: relative;
    z-index: 1;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    width: 30%;
}

#container-hero p {
    font-size: 1.25rem;
    margin: 12px 0 24px 0;
}

button {
    background-color: var(--Destaque);
    color: var(--Texto);
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 6px;
    width: 300px;
}

button:hover {
    background-color: var(--Hover);
    transform: translateY(-2px)
}

section#features {
    min-height: 80vh;
}

#container-cards {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.container-img-card {
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
}

.card {
    background-color: var(--Cards);
    max-width: 400px;
    padding: 20px;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.card img {
    width: 100%;
    height: 100%;       /* antes era auto */
    object-fit: cover;  /
    margin: 0 auto;
    border-radius: 6px;
}

.card h3, .card p, .container-img-card {
    text-align: center;
    margin-bottom: 14px;
    letter-spacing: 0.02em
}


@media (max-width: 768px) {
    #container-hero {
        margin-left: 5%;
        width: 90%;
        text-align: center;
    }

    button {
        width: 200px;
        margin: 0 auto;
    }
}